<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <nav>
{{>nav}}
    </nav>
    <div class="d-flex">
        <div class="" style="font-family:Verdana, Geneva, Tahoma, sans-serif; border-right: 1px solid black; margin-left:10px">
            <img src="https://online.kfc.co.in/static/media/Stripes_Small_OffersIcon.87fc6256.svg" alt="" width="50px">
            <h1 class="mt-4">KFC MENU</h1>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black"> Day Specials</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Chicken Buckets</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Biryani Buckets</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Box Meals</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Burgers</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Stay Home Specials</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Snacks</a></h5>
            <h5><a class="anchor" href="/" style="text-decoration: none; color:black">Beverages</a></h5>
        </div>

            <div class="row container m-auto row-cols-1 row-cols-md-5 g-3">
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/items/xl/A-32774-0.jpg?ver=14.78"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/categories/CAT3131.jpg?ver=14.77"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/categories/CAT3342.jpg?ver=14.77"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/items/xl/A-32197-0.jpg?ver=14.78"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/categories/CAT3132.jpg?ver=14.77"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/items/xl/A-33517-0.jpg?ver=14.78"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/categories/CAT3134.jpg?ver=14.77"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/categories/CAT3342.jpg?ver=14.77"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <img src="https://orderserv-kfc-assets.yum.com/15895bb59f7b4bb588ee933f8cd5344a/images/items/xl/A-32197-0.jpg?ver=14.78"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        {{>footer}}
</body>

</html>